# 노션 개발자 사이트 상단 메뉴 '통합' 생성 후 나타나는 자격 증명키
NOTION_CLIENT_ID="발급받은_Oauth_클라이언트_ID값_붙여넣기"
NOTION_CLIENT_SECRET="발급받은_Oauth_시크릿값_붙여넣기"

# 노션 대시보드에서 등록했던 "리디렉션 주소(Redirect URIs)"와 단 한 글자도(마지막 슬래시까지) 다르지 않고 똑같아야 합니다!
REDIRECT_URI="http://localhost:5000/callback"
